.navbar {
  background-color: #1b263b;
  color: #e0e1dd;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e0e1dd;
  align-items: center;
  justify-content: center
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #e0e1dd;
  transition: color 0.2s ease;
}

.navbar-links li a:hover {
  color: #ffffff;
}